<div  style="border:dashed;padding: 3px;">
  <h2>Add New Post</h2>
<table>
    <tr>
      <td>
        <label>Title:</label>
      </td>
      <td>
      <input type="text" [(ngModel)]="title">
     </td>
  </tr>
 <tr>
    <td>
      <label>Content:</label>
    </td>
    <td>
      <input type="text" [(ngModel)]="content">
   </td>
 </tr>
 <tr>    
    <button (click)="upload()">Upload</button>   
 </tr>  
</table>
</div>
<div>
  <label>Total posts uploaded: {{postCount}}</label>
</div>
<div>
  <ng-container  *ngFor="let post of posts">
    <div style="margin-bottom:10px; border: 2px; border: dashed;">
        <h2 style="margin-bottom: 2px;">{{ post.title }}</h2>
        <p style="margin-top: 2px;">{{ post.title }}</p>
    </div>
</ng-container>
</div>